<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.engineerapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngineerApplication">
        <activity android:name=".presentation.deal.chekpay.ChekpayActivity"></activity>
        <activity android:name=".presentation.deal.addmaterial.AddActivity" />
        <activity android:name=".presentation.deal.DealFragment" />
        <activity android:name=".presentation.admin.workjob.manage.ManageActivity" />
        <activity android:name=".presentation.material.MaterialActivity" />
        <activity android:name=".presentation.technician.detail.DetailActivity" />
        <activity android:name=".presentation.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.main.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvq-pKjRjELbmEQDE2pKGYPy8p1fr6TxQ" />
    </application>

</manifest>